/* Common Css */
*{
    margin: 0;
    padding: 0;
}
/* Nav Tag */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 2px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
/* logo1 Class */
.logo1{
    padding: 20px 18px;
    height: 20px;
    float: left;
}
/* For Nav Tag under ul */
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}
/* In Nav Tag Under head1 Class */
.head1{
    display: flex;
    justify-content: baseline;
    margin: 35px;
    padding: 35px;
}
/* In Nav Tag Under head1 Class under ul*/
.head1 ul{
    width: 610px;
    height: 94px;
    line-height: 80px;
    color: #FFFFFF;
    text-decoration: none;
    border: 1px;
    border-radius: 100px;
    background: #000000;
}
/* In Nav Tag Under head1 Class under ul li */
.head1 ul li{
    margin: 10px;
    padding: 10px;
    border: 3px;
    font: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 100px;
    background-color: #19181D;
    
}
/* In nav-menu1 Class */
.nav-menu1{
    margin-top: -150px;
    margin-left: 1330px;
}
/* In nav-menu1 Class under ul*/
.nav-menu1 ul{
    height: 70px;
    width: 220px;
    color: #FFFFFF;
    line-height: 30px;
    border: 3px solid #FF3800;
    border-radius: 100px;
    background: #000000;
}
/* In nav-menu1 Class under p tag*/
.nav-menu1 p{
    text-align: justify;
    font-weight: 400;
    font-size: small;
    line-height: 50px;
}
/* In Class how_to_scale under p tag */
.how_to_scale p{
    text-align: justify;
    font-weight: 400;
    font-size: small;
    line-height: 70px;
}
/* In nav-menu1 under ul tag under img tag */
.nav-menu1 ul img{
    padding: 20px 18px;
    height: 30px;
    float: left;
}
/* In nav-menu1 .show_us Class */
.nav-menu1 .show_us{
    margin: 10px;
    font-size: large;
}
/* In main_content Class */
.main_content{
    margin-top: 170px;
    padding-top: 170px;
    height: 100%;
    width: 1450px;
    background: #000000;
}
/* In main_content Class under ul*/
.main_content1 ul{
    margin-top: -50px;
    margin-left: 100px;
}
/* In d2c class and img Tag */
.d2c img{
    height: 300px;
    width: 700px;
}
/* In d2c1 class and img Tag */
.d2c1 img{
    height: 113px;
    width: 357px;
}
/* In d2c class and img Tag hover*/
.d2c1 img:hover{
    color: #FFFFFF;
    cursor: pointer;
    background: #FF3800;
}
/* In d2c1 class and img Tag */
.d2c2 img{
    height: 200px;
    width: 550px;
}
/* In d2c3 Class */
.d2c3{
    margin-left: 970px;
    background: #000000;
}
/* In d2c3 class and ul Tag */
.d2c3 ul{
    display: flex;
    justify-content:baseline;
}
/* In d2c3 class and ul Tag under li tag*/
.d2c3 ul li{
    margin-top: -720px;
}
/* In d2c3 class li tag under image_01 class Animation*/
.d2c3 li .image_01{
   margin: 2px;
   padding: 2px;
   height: 150px;
   width: 150px;
   animation:  filmMove 10s linear infinite;
   flex-direction: column translatey;
}
/* Animation move to */
 @keyframes filmMove {
  from {
    transform: translatey(-0);
  }
  to {
    transform: translatey(-400%);
  }
}
/* In d2c3 class li tag under image_02 class Animation*/
.d2c3 li .image_02{
   margin: 2px;
   padding: 2px;
   height: 140px;
   width: 140px;
   animation:  filmMove 9s linear infinite;
   flex-direction: column translatey;
}
/* Animation move to */
 @keyframes filmMove {
  from {
    transform: translatey(-0);
  }
  to {
    transform: translatey(-300%);
  }
}
/* In d2c3 class li tag under image_03 class Animation*/
.d2c3 li .image_03{
   margin: 2px;
   padding: 2px;
   height: 130px;
   width: 130px;
   animation:  filmMove 8s linear infinite;
   flex-direction: column translatey;
}
/* Animation move to */
 @keyframes filmMove {
  from {
    transform: translatey(-0);
  }
  to {
    transform: translatey(-350%);
  }
}
/* In main_content2 class under .frame class under img tag */
.main_content2 .frame img{
    margin-top: 70px;
    width: 1114px;
    height: 241px;
    margin-left: 200px;
    gap: 60px;
}
/* In main_content2 class under .frame1 class under img tag */
.main_content2 .frame1 img{
    margin-left: 1102.17px;
    margin-top: 192.39px;
    height: 168.08px;
    width: 205.13px;
    rotate: -17.13";
}
/* In main_content2 class under .frame3 class under img tag */
.main_content2 .frame3 img{
    height: 189px;
    width: 1760px;
    border-radius: 10px;
    color: #F9F9F9;
}
/* Hide and Seek */
.frame3:hover .raucket_launch2{
    opacity: 1;
    visibility: visible;
    height: 70px;
    width: 250px;
    color: #2c0461;
    border: 5px solid #FF3800;
    cursor: pointer;
    border-radius: 100px;
    background: #FF3800;
    
}
/* In raucket_launch2 Class  */
.raucket_launch2{
    position: relative;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    margin-left: 70px;
}
/* In raucket_launch2 under ul tag */
.raucket_launch2 ul{
    display: flex;
    justify-content: baseline;
    height: 70px;
    width: 250px;
    color: #FFFFFF;
    line-height: 60px;
    border: 3px solid #FF3800;
    text-decoration: none;
    border-radius: 100px;
    background: #000000;
}
/* In main_content2 Class under .raucket_launch2 Class under ul tag under li tag */
.main_content2 .raucket_launch2 ul li{
    display: flex;
    justify-content: baseline;
    font-size: medium;
    text-align: justify;
    text-decoration: none;
    line-height: 60px;
}
/* In main_content2 Class under .raucket_launch2 Class under ul tag under li tag under img tag */
.main_content2 .raucket_launch2 ul li img{
    height: 40px;
    width: 80px;
    padding: 8px;
    color: #F9F9F9;
}
/* In Class .main_content2 under Class .raucket_launch2 Under  ul Tag  li tag  p  */
.main_content2 .raucket_launch2 ul li p{
    margin: 5px;
}