/* Common Styling */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Nav TAG Styling */
nav{
    position:sticky;
    border: 1px;
    background-color: #FFFFFF;
    filter: blur(6);
    height: 220px;
    width: 360px;
}
/*thrust_logo Class Under Nav TAG */
.thrust_logo{
    display: flex;
    justify-content: baseline;
    padding-top: 45px;
    margin-top: 45px;
}
/*thrust_logo Class img TAG  */
.thrust_logo img{
    margin-top: 9.21px;
    margin-right: 10px;
    padding-left: 10px;
}
/*nav-menu Class */
.nav-menu{
    margin-left: 40px;
    padding-left: 40px;
}
/* nav-menu Class under ul TAG */
.nav-menu ul{
    width: 695px;
    height: 94px;
    border-radius: 100px;
    border: 1px;
    padding: 5px;
    display: flex;
    justify-content: baseline;
    text-decoration: none;
    background-color: #08070A;
} 
/*nav-menu Class Under ul TAG under li tag  */
.nav-menu ul li{
    margin: 12px;
    padding: 12px;
    color: #FFFFFF;
    border: 1px;
    font: 500;
    font-size: medium;
    border-radius: 100px;
    background-color: #19181D;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
/* Class nav-menu1 */
.nav-menu1{
    margin-left: 15px;
}
/* Class nav-menu1 under ul TAG */
.nav-menu1 ul{
    width: 250px;
    height: 64px;
    margin: 12px;
    padding: 12px;
    border: 3px solid #FF3800;
    border-radius: 100px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
/* Class nav-menu1 under ul li TAG */
.nav-menu1 ul li{
    display: flex;
    justify-content: baseline;
}
/* Class main_Content*/
.main_content{
    margin-top: -80px;
    position: relative;
    width: 1400px;
    height: 1200px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
}
/* Class d2c Image in MIddle Item Section */
.d2c img{
    margin-top: 266px;
    margin-left: 99px;
    height: 601px;
    width: 757px;
}
/* Class d2c1 in MIddle Item Section */
.d2c1{
    height: 165px;
    width: 596.29px;
    margin: 60px;
    padding: 60px;
}
/* Class d2c3 in MIddle Item Section */
.d2c3{
    display: flex;
    justify-content:space-between;
    background: #000000;
}
/* Formate image_01 and her animation */
.d2c3 li .image_01{
   margin: 2px;
   padding: 2px;
   margin-top: 70px;
   height: 250px;
   width: 150px;
   position: relative;
   animation: moveUpDown 3s ease-in-out infinite; 
}
/* delay for smooth effect */
.image_01{
    animation-delay: 1s;
}
/* Vertical Movement */
@keyframes moveUpDown{
    0%{
        transform: translateY(10);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(10);
    }
}
/* Formate image_02 and her animation */
.d2c3 li .image_02{
   margin: 2px;
   padding: 2px;
   margin-top: -10px;
   height: 140px;
   width: 140px;
   position: sticky;
   animation: moveUpDown 3.5s ease-in-out infinite; 
}
/* delay for smooth effect */
.image_02{
    animation-delay: 1.5s;
}
/* Vertical Movement */
@keyframes moveUpDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}
/* Formate image_03 and her animation */
.d2c3 li .image_03{
   margin: 2px;
   padding: 2px;
   margin-top: 70px;
   height: 230px;
   width: 130px;
   animation: moveUpDown 4s ease-in-out infinite; 
}
/* delay for smooth effect */
.image_03{
    animation-delay: 2s;
}
/* Vertical Movement */
@keyframes moveUpDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0);
    }
}
/* For Lower Middle Item */
.d2c4{
    margin: 40px;
    padding: 40px;
}
/* For Lower Middle Item */
.main_content2 img{
   height: 1261px;
   width: 1760px;
   top: 1470px;
   left: 80px;
}